h1{
    text-align: center;
}

.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.options{
    display: flex;
    gap:20px;
    background-color: rgb(172, 167, 167);
    padding: 10px;
    border-radius: 8px;
}
.grid{
    border: 3px;
    border-style: solid;
    width:400px;
    height: 400px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.square{
    border: 1px;
    border-color: grey;
    border-style: ridge;
}